{% extends "main_layout.html" %}

{% block content %}
    <h3 class='catalog_header'>edit catalog </h3>
    <div class="panel panel-default ">
        <div class="panel-body new_catalog">
            <div class="col-md-12">
                <div class="row">
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label">Name: </label>
                            <div class="col-md-9">
                                <input type="text", class="form-control" max-length="20" placeholder="Enter Catalog name" name="name" id="submit"><br>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-success btn-md">
                                        <span class="glyphicon glyphicon-eye-open area-hidden="true"></span>
                                        Edit Catalog
                                    </button>

                                    <button class="btn btn-info btn-md">
                                        <span class="glyphicon glyphicon-eye-close area-hidden="true"></span>
                                        <a href="{{ url_for('showCatalogs') }}">
                                        Back to Catalog </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


{% endblock %}